  <% if customer_signed_in? %>
      <div class="container"><br><br><br><br><br><br>
        <h1><strong>商品一覧</strong></h1><br>
        <table class="table">
          <thead>
  					<tr>
  					  <th></th>
          		<th>name</th>
    					<th>price</th>
  			  	</tr>
  			  </thead>
  			  <tbody>
            <% @products.each do |product| %>
      		    <tr>
      		      <th class="image11"><%= attachment_image_tag product, :image, size:'200x170' %></th>
      		      <th class="name11"><%= link_to product.name,product_path(product.id) %></th>
                <th class="image11">¥<%= product.price %></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>