 <html>
    <body>
      <div class="container">
        <div class="col-xs-3">
          <h2>マイページ</h2>
        </div>
      </div>
      <div class="col-xs-9">
    <h2>Books</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      <div class="table">
        <tbody>
