<div class="row1">
  <h1  class="about1">About</h1>
  <br>
  <p class="p1">ながのCakeは全国発送可能なケーキ屋さんです。</p>
  <p class="p1">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
  <p class="p1">様々なバリエーションをご用意しております。</p>
  <p class="p1">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
  <p class="p1">ぜひご注文ください。</p>
</div>