/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.col-xs-9 {
	margin-top:81px;
}

.product1 {
	margin-top:121px;
}

.col-xs-3 {
	margin-top:81px;
}

.row1 {
  margin-top:81px;
  text-align: center;
}

.row2 {
  margin-top:101px;
  margin-left:280px;
  margin-right:400px;
}
.body {
  margin-top:81px;
}

.col-xs-5 {
  margin-top:81px;
}

.genre1 {
  margin-left: 296px;
}

.price1 {
  margin-left: 296px;
}

.status1 {
  margin-left: 296px;
}

.btn1 {
  margin-left: 666px;
}

.introduction1 {
  margin-left: 296px;
}

.image11 {
  width: 230px;
}

.col-xs-6 {
  margin-top:35px;
	padding:35px;
}

.about1 {
  font-size:65px;
  margin-right: 85px;
}

.p1 {
  font-size:23px;
}

.btn11 {
  display:flex;
  justify-content: space-between;
  height:40px;
}