// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image1 {
  background-image: url(back1.jpg);
}
.image2 {
  background-image: url(back2.jpg);
}
.image3 {
  background-image: url(back3.png);
}
.image4 {
  background-image: url(back4.png);
}
.message {
  width: 45%; /* 横幅40% */
  height: 300px; /* 親の高さに揃える */
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */}
#container{
  height: 500px;
}