 <div class="row">
  <div class="col-xs-offset-1 col-xs-11"><br><br><br>
    <h4><span style="background-color: #afeeee">商品新規登録</span></h4>
    
    
    <%= attachment_image_tag(@products, :image_id, :fill, 50, 50, format:'webp') %>
    