<div class="row">
  <div class="col-xs-3">
    <h3>ジャンル検索</h3>
    <%= link_to 'ケーキ' %>
    <br>
    <%= link_to '焼き菓子' %>
    <br>
    <%= link_to 'プリン' %>
    <br>
    <%= link_to 'キャンディー' %>
  </div>
  <div class="col-xs-4">
  </div>
  <div class="col-xs-5">
    <h1>いちごのショートケーキ</h1>
    <br>
    <p>商品の説明文です商品の説明文です商品の説明文です商品の説明文で</p>
    <p>す商品の説明文です商品の説明文です商品の説明文です商品の説明文</p>
    <p>です商品の説明文です商品の説明文です商品の説明文です商品の説明</p>
    <p>文です商品の説明文です商品の説明文です商品の説明文です商品の説</p>
    <p>明文です。</p>
    <br>
    <br>
    <h2>￥550</h2><h4>（税込）</h4>
    <br>
    <br>
    
  </div>